.menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0A1A3A;
}

.menu__item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 -1px #1A3C7A;
}
.menu__item:first-child {
  box-shadow: none;
}


.menu__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 700;
  color: #fff;
  font-size: 8vmin;
  font-family: 'Space Grotesk', sans-serif;
  transition: color 0.6s ease;
}

.menu__item-link:hover {
  color: #0A1A3A;
  z-index: 10;
}

.menu__item-link:focus:not(:focus-visible) {
  color: #fff;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #00F5D0;
  transform: translate3d(0, 101%, 0);
}

.marquee__inner-wrap {
  height: 100%;
  width: 100%;
  transform: translate3d(0,-101%,0);
}

.marquee__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: fit-content;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

.marquee span {
  color: #0A1A3A;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 8vmin;
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.2;
  padding: 1vh 2vw 0;
}

.marquee__img {
  width: 25vmin;
  height: 10vmin;
  margin: 0 2vw;
  border-radius: 8px;
  background-size: cover;
  background-position: 50% 50%;
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
